<!DOCTYPE html>
<html>
    <head>
        <title>About me</title>
        <link rel="stylesheet" href="./css/style.css">
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site is created by Fahad Ali. It uses data from weather-stack and mapbox!</p>
            <img class="portrait" src="/img/robot.png">
        </div>
        {{>footer}}
    </body>
</html>